#about-sec {
    margin-top: var(--nav-height);
    height: calc(100vh - var(--nav-height));
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(19,19,19,1) 100%);
    text-align: center;
}

#about-content {
    font-size: 7vh;
    padding-top: 30vh;
    padding-bottom: 30vh;
    padding-left: 10vw;
    padding-right:10vw;
    margin: auto;
}

#about-content p {
    color:var(--header-bg)
}