#footer {
    height: 100px;
    background-color: var(--bg-main);
}



#footer-wrapper {
    font-size: 2vh;
    padding-top:3vh;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap: 4rem;
    margin: auto;
}